# Flutter
client/build/
client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/.packages
client/.pub-cache/
client/.pub/
client/build/

# Node.js
server/node_modules/
server/.env
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
.vscode/
*.iml
*.swp
*.patch
*.diff
